*.iml
.gradle
/FH75Demo/.gradle
/.gradle
/FH75Demo/.idea
/.idea
/build
/FH75Demo/build
/FH75Demo/orijectFilesBackup
/FH75Demo/app/build
/FH75Demo/gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
